      @import "https://fonts.googleapis.com/css?family=Sintony";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "winter";
  src: url("producer.ttf");
}

body {
  background: #222;
  padding: 0;
  margin: 0;
  font-family: 'Sintony', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #000;
  line-height: 1.7em;
}

header {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  background-image: url('quantumhall.jpg');
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto; 
  background-repeat: no-repeat;
  color: #000;
  top: 0;
  z-index: 1;
}
.section:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(2) {

  background-color: #EAE9E7;
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.section:nth-child(3) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-image: url('whiteb.jpg');
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
  background-repeat: no-repeat;
  color: #fff;
  top: 200vh;
  z-index: 4;
}
.section:nth-child(3) .fixedo {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #EAE9E7;
  color: #fff;
  top: 300vh;
  z-index: 5;
}
.section:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(5) {

  background-color: #F4F3F3;
  color: #fff;
  top: 400vh;
  z-index: 6;
}
.section:nth-child(5) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #ff7b26;
  color: #fff;
  top: 500vh;
  z-index: 7;
}
.section:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(7) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0ac285;
  color: #fff;
  top: 600vh;
  z-index: 8;
}
.section:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(8) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a0a;
  color: #fff;
  top: 700vh;
  z-index: 9;
}
.section:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(9) {
  background-color: #000;
  color: #fff;
  top: 800vh;
  z-index: 10;
}
.section:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.oop {
  position: relative;
  z-index: auto;
  height: 3px;
  background: linear-gradient(141deg, #7B6C69 0%, #7B6C69 51%, #7B6C69 75%);
}

#quantum {
  font-family:"winter";
  font-size:18px;
  color:#7B6C69;

}



#intro {
  font-size:38px;
  font-family:"winter";
  font-weight:50;
  color:#7B6C69;
  letter-spacing: 0.07em;
  text-align:left;
  line-height: 1.2em;

}

#second {

  font-size:20px;
  color:#7B6C69;
  letter-spacing: 0.07em;
  font-weight: 50;
  text-align: left;
}

#italic {
  font-weight: 100;
}

.section .fixedo {

  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 30%;
  text-align:left;
}

#overflow {
  text-align: left;

}

#negro {
  color:black;
}




#broken {
  top:78%;
  position: fixed;
  right:30%;
  text-align:center;
}