 
/* Smartphones (portrait and landscape) ----------- */
@media only screen  
and (max-device-width : 480px) {
/* Styles */


}




/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 1024px) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */




      @import "https://fonts.googleapis.com/css?family=Sintony";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "winter";
  src: url("producer.ttf");
}

body {
  background: #222;
  padding: 0;
  margin: 0;
  font-family: 'Sintony', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #000;
  line-height: 1.7em;
}

header {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  letter-spacing: 4px;
  overflow: hidden;
  clip: rect(0, auto, auto, 0);
}
.section .fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
}
.section .white {
  color: #fff;
}

.section:nth-child(1) {
  background-image: url('quantumhall.jpg');
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto; 
  background-repeat: no-repeat;
  color: #000;
  top: 0;
  z-index: 1;
}
.section:nth-child(1) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(2) {

  background-color: #EAE9E7;
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.section:nth-child(3) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-image: url('whiteb.jpg');
  -o-background-size:100% auto;
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  background-size:100% auto;
  background-repeat: no-repeat;
  color: #fff;
  top: 200vh;
  z-index: 4;
}
.section:nth-child(3) .fixedo {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #EAE9E7;
  color: #fff;
  top: 300vh;
  z-index: 5;
}
.section:nth-child(4) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(5) {

  background-color: #F4F3F3;
  color: #fff;
  top: 400vh;
  z-index: 6;
}
.section:nth-child(5) .fixede {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #CFF6F3;
  color: #fff;
  top: 500vh;
  z-index: 7;
}
.section:nth-child(6) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(7) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: rgba(64,224,208,0.2);
  color: #fff;
  top: 600vh;
  z-index: 8;
}
.section:nth-child(7) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(8) {
  -webkit-box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a0a;
  color: #fff;
  top: 700vh;
  z-index: 9;
}
.section:nth-child(8) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section:nth-child(9) {
  background-color: #000;
  color: #fff;
  top: 800vh;
  z-index: 10;
}
.section:nth-child(9) .fixed {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.oop {
  position: relative;
  z-index: auto;
  height: 3px;
  background: linear-gradient(141deg, #7B6C69 0%, #7B6C69 51%, #7B6C69 75%);
}

#quantum {
  font-family:"winter";
  font-size:18px;
  color:#7B6C69;

}



#intro {
  font-size:38px;
  font-family:"winter";
  font-weight:50;
  color:#7B6C69;
  letter-spacing: 0.07em;
  text-align:left;
  line-height: 1.2em;

}

#second {

  font-size:20px;
  color:#7B6C69;
  letter-spacing: 0.07em;
  font-weight: 100;
  text-align: left;
}

#italic {
  font-weight: 100;
}

.section .fixedo {

  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 30%;
  text-align:left;
  font-size:15px;

}

.section .fixede {

  overflow: hidden;
  position: fixed;
  top: 40%;
  left: 37%;
  text-align:left;
  color:#7B6C69;
  font-size:16px;
  border-top: 0.2px solid;
  padding-top: 20px
}


#negro {
  color:black;
}




#broken {
  top:78%;
  position: fixed;
  right:30%;
  text-align:center;
}



@use postcss-cssnext;

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
:root {
  --animation-delay: 500ms;
  --duration: 3700ms;
  --iterations: 1;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay);
  animation-iteration-count: var(--iterations);
  animation-duration: var(--duration);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
  position: relative;
  font-size: 10vw;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: rgb(0,0,0);
  white-space: nowrap;
  cursor: default;
  
  &::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(25,25,112);
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
  
}


@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}


@keyframes revealer-text {
  
  0%, 50% {
    transform-origin: 0 50%;
  }
  
  60%, 100% {
    transform-origin: 100% 50%;   
  }

  
  60% {
    transform: scaleX(1);
  }
  
  100% {
    transform: scaleX(0);
  }
}



.text-js{
  opacity: 0;
}
.cursor{
  display: block;
  visibility: hidden;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: black;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');



h3{
  margin: 20px;
  color: black;
  font-size: 28px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 50;
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  }


@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100');

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:'Alegreya Sans', sans-serif;
  font-size:18px;
  text-align:center;
  height:3%;
  width:600px;
  display:block;
  position:absolute;
  color:'#7B6C69';

}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


#logo {
   bottom:41%;
   left:48%;
   position:absolute;
   z-index:-1;

}

@keyframes fadein{from{opacity:0}
to{opacity:1}
}

@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}




@keyframes logo {
    0% {
        transform: scale(0.2);
        -webkit-transform: scale(0.2);
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

#logo {
    animation: logo 2s linear normal;
    -webkit-animation: logo 2s linear normal;
    animation-delay: 4s;
    visibility: hidden;
}



.blocks div, :before, :after {
  display:inl;
  position: absolute;
  top: 35%;
  left: 83%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: currentColor;
}

.assembly {
  -webkit-transform: rotateX(-35deg) rotateY(-45deg);
          transform: rotateX(-35deg) rotateY(-45deg);
}

.assembly > :nth-child(5n + 1) {
  top: calc(50% + 10em);
  color: rgba(64,224,208,0.2);
}

.switch--out:nth-child(5n + 1), .switch--out:nth-child(5n + 1) * {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.assembly > :nth-child(5n + 2) {
  top: calc(50% + 5em);
  color: rgba(178,242,236,0.3);
}

.switch--out:nth-child(5n + 2), .switch--out:nth-child(5n + 2) * {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.assembly > :nth-child(5n + 3) {
  top: calc(50% + 0em);
  color: rgba(255,255,255,0.2);
}

.switch--out:nth-child(5n + 3), .switch--out:nth-child(5n + 3) * {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.assembly > :nth-child(5n + 4) {
  top: calc(50% + -5em);
  color: rgba(124,169,165,0.1);
}

.switch--out:nth-child(5n + 4), .switch--out:nth-child(5n + 4) * {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.assembly > :nth-child(5n + 5) {
  top: calc(50% + -10em);
  color: rgba(64,224,208,0.2);
}

.switch--out:nth-child(5n + 5), .switch--out:nth-child(5n + 5) * {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

[class*='switch'] {
  -webkit-animation: switch 2s steps(4) infinite;
          animation: switch 2s steps(4) infinite;
}

.switch--out {
  animation-direction: reverse;
  -webkit-animation-timing-function: steps(4, start);
          animation-timing-function: steps(4, start);
}

@-webkit-keyframes switch {
  to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn);
  }
}

@keyframes switch {
  to {
    -webkit-transform: rotateY(1turn);
            transform: rotateY(1turn);
  }
}
.mover {
  -webkit-animation: move 0.5s ease-in-out infinite;
          animation: move 0.5s ease-in-out infinite;
}

@-webkit-keyframes move {
  75% {
    -webkit-transform: translate(8.4em) scale3d(1, 1, 1);
            transform: translate(8.4em) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: translate(11.2em) scale3d(0, 0, 0);
            transform: translate(11.2em) scale3d(0, 0, 0);
  }
}

@keyframes move {
  75% {
    -webkit-transform: translate(8.4em) scale3d(1, 1, 1);
            transform: translate(8.4em) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: translate(11.2em) scale3d(0, 0, 0);
            transform: translate(11.2em) scale3d(0, 0, 0);
  }
}
.cube {
  margin: -1em;
  width: 2em;
  height: 2em;
  -webkit-transform: translateZ(1em);
          transform: translateZ(1em);
}
.cube:before, .cube:after {
  width: inherit;
  height: inherit;
  content: '';
}
.cube:before {
  top: 0;
  left: 100%;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}
.cube:after {
  top: -100%;
  left: 0;
  -webkit-transform-origin: 50% bottom;
          transform-origin: 50% bottom;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}






}   /*end of desktop display */ 